@import "variables";

html {
  font-family: $font-base;
}

h1 {
  font: $font-title;
  color: $primaryColor;
  @media (max-width: 768px) {
    font-size: 45px;
    line-height: 55px;
  }
  @media (max-width: 320px) {
    font-size: 30px;
    line-height: 37px;
    margin: 0;
  }
}

.container {
  &__subtitle {
    color: $secondaryColor;
    height: 140px;
    display: flex;
    justify-content: center;
  }
}