@import "varibles";

html {
  font-family: $font-base;
}

h1 {
  color: $primaryColor;
}

.container {
  &__subtitle {
    color: $secondaryColor;
    height: 140px;
    display: flex;
    justify-content: center;
  }
}