$font-family: 'Montserrat', sans-serif;
$font-base: 400 1rem / 1.25em $font-family; // font-size: 16px; line-height: 20px

$font-header: 700 1.25rem / 1.2em $font-family; // font-size: 20px; line-height: 24px
$font-subheader: 600 1.125rem / 1.2em $font-family; // font-size: 18px; line-height: 22px

$font-small: 600 0.875rem / 1.22em $font-family; // font-size: 14px; line-height: 17px
$font-smaller: 600 0.75rem / 1.25em $font-family; // font-size: 12px; line-height: 15px

$font-visualiser-big: 700 1.5rem / 1.21em $font-family; // font-size: 24px; line-height: 29px


$primaryColor: darkcyan;
$secondaryColor: darkslategray;