$font-family: 'Montserrat', sans-serif;

$font-base: 400 16px / 30px $font-family;
$font-title: 700 60px / 73px $font-family;
$font-subTitle: 600 40px / 49px $font-family;
$font-baseBolt: 700 20px / 30px $font-family;
$font-smallTitle: 700 22px / 27px $font-family;
$font-smaller: 400 14px / 17px $font-family;

$primaryColor: #000000;
$secondaryColor: #4C858B;
$redColor: #E33E54;
$orangeColor: #EA6628;
