header.header
  a(href='#').header__logo
    img.src(src='assets/images/Logo.svg' alt='logo').header__logo
  nav.header__menu
    ul.menu__container
      li.menu__item
        a(href='#') Каталог товаров
      li.menu__item
        a(href='#') доставка и оплата
      li.menu__item
        a(href='#') Цены
      li.menu__item
        a(href='#') Контакты

  a(href='tel:78125092198').header__telefone +7 (812)
    b  509 21 98

  p.header__link перезвоните мне

   ul.header__social
     li
       a(href='vk.com')
         img.src(src='assets/images/social/vk.svg' alt='vk')
     li
       a(href='tg.com')
         img.src(src='assets/images/social/telegram.svg' alt='telegram')
     li
       a(href='instagram.com')
         img.src(src='assets/images/social/instagram.svg' alt='instagram')
     li
       a(href='whatsapp.com')
         img.src(src='assets/images/social/whatsApp.svg' alt='whatsApp')

   div(class='header__submenu submenu')
     div.submenu__item
       img.src(src='assets/images/loupe.svg' alt='search')
     div.submenu__item
       img.src(src='assets/images/heart.svg' alt='like')
     div.submenu__item
       img.src(src='assets/images/shopping-cart.svg' alt='cart')
       div.submenu__quantity 10
