@import "src/styles/variables";

.header {
  display: flex;
  align-items: center;
  padding: 26px 58px 0 64px;
  box-sizing: border-box;

  justify-content: space-between;
  @media (max-width: 768px) {
    padding: 26px 16px 21px 16px;
    width: 100%;
    border-bottom: solid $greyColor 1px;
  }

  & > p:last-child {
    display: none;
  }

  &__wrapper {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    //width: 210px;
  }

  &__logo {
    & > a > img {
      width: 100px;
      height: 97px;
      @media (max-width: 768px) {
        width: 64px;
        height: 62px;
      }
    }
  }

  &__menu {
    margin: 0 0 0 30px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__telefone {
    text-decoration: none;
    color: $secondaryColor;
    font: $font-base;
    letter-spacing: 0.08em;
    white-space: nowrap;

    @media (max-width: 768px) {
      display: none;
    }

    & > b {
      color: $primaryColor;
      font: $font-menu;
    }
  }

  &__link {
    margin: 0 0 0 73px;
    color: $darkRedColor;
    font: $font-smaller;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    padding-bottom: 4px;
    border-bottom: 1px dashed $darkRedColor;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__social {
    margin: 0 0 0 63px;
    padding: 0;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    & > li {
      width: 20px;
      height: 20px;
      list-style-type: none;
      margin: 0 13px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    fill: $secondaryColor;
  }

  &__submenu {
    margin: 0 0 0 53px;
    @media (max-width: 768px) {
      margin: 0;
    }
  }
}

.submenu {
  display: flex;

  &__item {
    width: 55px;
    height: 55px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    border: solid 1px $whiteColor;
    border-radius: 50%;

    &:last-child {
      margin: 0;
    }

    @media (max-width: 768px) {
      margin: 0 22px 0 0;
    }
  }

  &__quantity {
    width: 21px;
    height: 21px;
    position: absolute;
    right: -2px;
    top: 0;
    border-radius: 50%;
    background-color: $redColor;
    font-weight: 700;
    font-size: 11px;
    line-height: 21px;
    color: $whiteColor;
    text-align: center;

  }
}

.menu {
  &__container {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    & > a {
      margin-right: 36px;
      font: $font-menu;
      color: $secondaryColor;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

.burger {
  width: 55px;
  height: 55px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //margin: 0 16px 0 0;
  border: solid 1px $whiteColor;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 768px) {
    display: flex;
  }

  &__line {
    width: 22px;
    height: 2px;
    background-color: $secondaryColor;
    cursor: pointer;
    margin:  0 0 7px 0 ;
    &:last-child {
      margin: 0;
    }
  }
}

.first {
  display: flex;
  margin: 0 0 0 52px;
  @media (max-width: 768px) {
    display: none;
  }
}