@import "src/styles/variables";

.header {
  display: flex;
  align-items: center;
  margin: 26px 0 0 63px;

  &__logo {
    & > img {
      width: 100px;
      height: 97px;
    }
  }

  &__menu {
    margin: 0 0 0 140px;
  }

  &__telefone {
    margin: 0 0 0 62px;
    text-decoration: none;
    color: $secondaryColor;
    font: $font-base;
    letter-spacing: 0.08em;
    white-space: nowrap;

    & > b {
      color: $primaryColor;
      font: $font-menu;
    }
  }

  &__link {
    margin: 0 0 0 70px;
    color: $darkRedColor;
    font: $font-smaller;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    padding-bottom: 4px;
    border-bottom: 1px dashed $darkRedColor
  }

  &__social {
    margin: 0 0 0 61px;
    padding: 0;
    display: flex;

    & > li {
      width: 20px;
      height: 20px;
      list-style-type: none;
      margin: 0 13px 0 0;

      & > a > img {
        width: 100%;
        height: 100%;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__submenu {
    margin: 0 0 0 58px;
  }
}

.submenu {
  display: flex;

  &__item {
    width: 55px;
    height: 55px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    border: solid 1px $whiteColor;
    border-radius: 50%;

    &:last-child {
      margin: 0;
    }
  }

  &__quantity {
    width: 21px;
    height: 21px;
    position: absolute;
    right: -2px;
    top: 0;
    border-radius: 50%;
    background-color: $redColor;
    font-weight: 700;
    font-size: 11px;
    line-height: 21px;
    color: $whiteColor;
    text-align: center;

  }
}

.menu {
  &__container {
    display: flex;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    & > a {
      margin-right: 36px;
      font: $font-menu;
      color: $secondaryColor;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}