@import "src/styles/variables";

.header {
  display: flex;
  align-items: center;
  padding: 26px 58px 0 64px;
  box-sizing: border-box;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 26px 16px 21px 16px;
    width: 100%;
    border-bottom: solid $greyColor 1px;
  }

  @media (max-width: 320px) {
    padding: 16px 15px 10px 15px;
  }

  & > p:last-child {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    & > a > img {
      width: 100px;
      height: 97px;

      @media (max-width: 768px) {
        width: 64px;
        height: 62px;
      }

      @media (max-width: 320px) {
        width: 48px;
        height: 47px;
      }
    }
  }

  &__menu {
    margin: 0 0 0 30px;
  }

  &__telefone {
    text-decoration: none;
    color: $secondaryColor;
    font: $font-base;
    letter-spacing: 0.08em;
    white-space: nowrap;

    @media (max-width: 768px) {
      display: none;
    }

    & > b {
      color: $primaryColor;
      font: $font-menu;
    }
  }

  &__link {
    margin: 0 0 0 73px;
    color: $darkRedColor;
    font: $font-smaller;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    padding-bottom: 4px;
    border-bottom: 1px dashed $darkRedColor;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__social {
    margin: 0 0 0 63px;
    padding: 0;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    & > li {
      width: 20px;
      height: 20px;
      list-style-type: none;
      margin: 0 13px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    fill: $secondaryColor;
  }

  &__submenu {
    margin: 0 0 0 53px;

    @media (max-width: 768px) {
      margin: 0;
    }
  }
}

.submenu {
  display: flex;

  &__item {
    width: 55px;
    height: 55px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 16px 0 0;
    border: solid 1px $whiteColor;
    border-radius: 50%;

    &:last-child {
      margin: 0;
    }

    @media (max-width: 768px) {
      margin: 0 22px 0 0;
    }

    @media (max-width: 320px) {
      width: 44px;
      height: 44px;

      &:nth-child(2), &:first-child {
        display: none;
      }
    }
  }

  &__quantity {
    width: 21px;
    height: 21px;
    position: absolute;
    right: -2px;
    top: 0;
    border-radius: 50%;
    background-color: $redColor;
    font-weight: 700;
    font-size: 11px;
    line-height: 21px;
    color: $whiteColor;
    text-align: center;
  }
}

.menu {

  &__container {
    display: flex;
    padding: 0;
    list-style-type: none;

    @media (max-width: 768px) {
      z-index: 100;
      flex-direction: column;
      align-items: center;
      margin: 0;
      box-sizing: border-box;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $greyColor;
      overflow: auto;
      transition: all 0.3s ease 0s;
      padding: 70px 10px 20px 10px;

      &.active {
        top: 0;
      }
    }
  }

  &__item {
    @media (max-width: 768px) {
      margin: 30px 0 0 0;
    }

    & > a {
      margin-right: 36px;
      font: $font-menu;
      color: $secondaryColor;
      text-transform: uppercase;
      text-decoration: none;

      @media (max-width: 768px) {
        margin: 0;
      }
    }
  }
}

.burger {
  position: relative;
  width: 55px;
  height: 55px;
  display: none;
  border: solid 1px $secondaryColor;
  border-radius: 50%;
  cursor: pointer;
  z-index: 103;

  @media (max-width: 768px) {
    display: flex;
  }

  @media (max-width: 320px) {
    width: 42px;
    height: 42px;
  }

  &__line {
    display: block;
    position: absolute;
    top: 18px;
    left: 16px;
    width: 22px;
    height: 20px;
    overflow: hidden;

    @media (max-width: 320px) {
      top: 12px;
      left: 12px;
      width: 18px;
      height: 18px;
    }

    &::before,
    &::after {
      content: "";
      background-color: $secondaryColor;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    & span {
      background-color: $secondaryColor;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;

      @media (max-width: 320px) {
        top: 8px;
      }
    }

    &.active::before {
      transform: rotate(45deg);
      top: 9px;

      @media (max-width: 320px) {
        top: 8px;
      }
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;

      @media (max-width: 320px) {
        top: 8px;
      }
    }

    &.active span {
      transform: scale(0);
    }
  }
}

.first {
  display: flex;
  margin: 0 0 0 52px;
  @media (max-width: 768px) {
    display: none;
  }
}