footer.footer
  .container.footer__wrapper

    .footer__catalog
      h4.footer__title КАТАЛОГ
      ul.footer__list
        li.footer__item
          a(href='#') Дымоходы
        li.footer__item
          a(href='#') Дымососы
        li.footer__item
          a(href='#') Печи для дома
        li.footer__item
          a(href='#') Печи для бани
        li.footer__item
          a(href='#') Камины
        li.footer__item
          a(href='#') Силикат кальция
        li.footer__item
          a(href='#') Котлы
        li.footer__item
          a(href='#') Ещё

    .footer__info
      h4.footer__title ИНФОРМАЦИЯ
      ul.footer__list
        li.footer__item
          a(href='#') Каталог
        li.footer__item
          a(href='#') Установка и монтаж
        li.footer__item
          a(href='#') Отзывы

        li.footer__item
          a(href='#') Ликвидация товара
        li.footer__item
          a(href='#') Полезное
        li.footer__item
          a(href='#') Контакты
        li.footer__item
          a(href='#') Оплата и доставка

    .footer__contacts
      h4.footer__title ВРЕМЯ РАБОТЫ
      .footer__inner
        .footer__box
          img.src(src='assets/images/clock.svg' alt='clock')
          p <span>пн-пт</span> 9:00 – 20:00   <span>сб-вс</span> 10:00 – 18:00
        .footer__box
          img.src(src='assets/images/placeholder.svg' alt='placeholder')
          p г. Санкт - Петербург, ул. Тамбасова д.7

      ul.footer__social
        li
          a(href='vk.com')
            +vk('footer__img')
        li
          a(href='tg.com')
            +telegram('footer__img')
        li
          a(href='instagram.com')
            +instagram('footer__img')
        li
          a(href='whatsapp.com')
            +whatsApp('footer__img')