@import "src/styles/variables";

.footer {
  background-color: $tertiaryColor;
  height: 350px;

  @media (max-width: 768px) {
    height: 70px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 87px 0 0 0;

    @media (max-width: 768px) {
      padding: 0;
      justify-content: center;
      align-items: center;
      height: 70px;
    }
  }

  &__title {
    margin: 0;
    font: $font-smallTitle;
    color: $whiteColor;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__catalog {
    width: 339px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__info {
    width: 343px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__contacts {
    width: 309px;

    @media (max-width: 768px) {
      width: fit-content;
    }
  }

  &__list {
    margin: 20px 0 0 0;
    list-style: none;
    padding: 0;
    height: 170px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 0 19px 0;
    width: 208px;

    & > a {
      font: $font-smaller;
      color: $whiteColor;
      text-decoration: none;
    }
  }

  &__inner {
    margin: 18px 0 0 0;
    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &__box {
    margin: 0 0 16px 0;
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }

    & > p {
      font: $font-smaller;
      color: $whiteColor;
      margin: 0 0 0 8px;

      & > span {
        color: $secondaryColor;
      }
    }
  }

  &__social {
    margin: 32px 0 0 5px;
    padding: 0;
    display: flex;
    width: 203px;
    justify-content: space-between;

    @media (max-width: 768px) {
      margin: 0;
    }

    & > li {
      width: 20px;
      height: 20px;
      list-style-type: none;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    fill: $secondaryColor;
  }
}
