include components/libs/_libs

doctype html
html(lang='ru')
  include components/_head
  body
    include components/header/header
    //include components/main/main
    //include components/footer/footer